Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use ESM for jest config
  jest.config.js
Due: eslint --fix

Update devDependencies
  package-lock.json
  package.json
Due: none

Update tsconfig.json
  tsconfig.json
Due: none

Release svelte-tiptap v0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix publishing files to npm
  package.json
Due: none

Release svelte-tiptap v0.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update @tiptap/core to v2.0.0-beta.94
  package-lock.json
  package.json
Due: none

Update @sveltejs/kit to 1.0.0-next.146
  package-lock.json
  package.json
Due: none

Update tiptap dependencies
  package-lock.json
  package.json
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
Due: eslint --fix

Release svelte-tiptap v0.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Release svelte-tiptap v0.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update tiptap dependencies
  package-lock.json
  package.json
Due: none

Update @sveltejs/kit to v1.0.0-next.148
  package-lock.json
  package.json
Due: none

Update floating and bubble menu tests
  tests/bubble-menu.test.ts
  tests/floating-menu.test.ts
Due: eslint --fix

Update types
  README.md
  src/lib/NodeviewRenderer.ts
  src/lib/createEditor.ts
Due: eslint --fix, prettier --write

Enable typescript strict mode
  tsconfig.json
Due: none

Update devDependencies
  package-lock.json
  package.json
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
  tests/bubble-menu.test.ts
  tests/floating-menu.test.ts
  tsconfig.json
Due: eslint --fix

Setup e2e tests with cypress
  .eslintrc.yml
  .github/workflows/tests.yml
  e2e/cypress.json
  e2e/cypress/fixtures/example.json
  e2e/cypress/integration/1-editor/core.spec.js
  e2e/cypress/plugins/index.cjs
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
  jest.config.js
  package-lock.json
  package.json
  src/routes/components/Tiptap.svelte
  tests/bubble-menu.test.ts
  tests/components/BubbleMenu.svelte
  tests/components/FloatingMenu.svelte
  tests/floating-menu.test.ts
Due: eslint --fix, prettier --write

Fix e2e tests
  .github/workflows/tests.yml
Due: prettier --write

Skip cypress installation for unit tests
  .github/workflows/tests.yml
Due: prettier --write

Update devDependencies
  package.json
Due: none

Update dependencies and devDependencies
  package-lock.json
  package.json
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
Due: eslint --fix

Use typescript for cypress
  e2e/cypress/integration/1-editor/core.spec.ts
  e2e/cypress/plugins/index.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/index.ts
  e2e/tsconfig.json
Due: eslint --fix

Release svelte-tiptap v0.4.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update github workflows
  .github/workflows/tests.yml
Due: prettier --write

Update peerDependencies and devDependencies
  package-lock.json
  package.json
Due: none

Add e2e tests for components
  e2e/cypress/integration/1-editor/1-core.spec.ts
  e2e/cypress/integration/1-editor/2-extension.spec.ts
  e2e/cypress/integration/1-editor/3-component.spec.ts
  src/routes/components/Counter.svelte
  src/routes/components/Editable.svelte
Due: eslint --fix

Update deprecated npx option
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{md,yml}
