Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix package build
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  package.json
  svelte.config.js
Due: eslint --fix, prettier --write

Update types import syntax
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
  src/lib/NodeViewWrapper.svelte
  src/lib/SvelteRenderer.ts
  src/lib/createEditor.ts
  src/lib/types.ts
  src/routes/_components/Counter.svelte
  src/routes/bubble-menu.svelte
  src/routes/floating-menu.svelte
  src/routes/index.svelte
  tests/components/Counter.svelte
Due: eslint --fix

Fix svelte-kit sync
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  package.json
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: none

Fixed isinline bug
  src/lib/NodeviewRenderer.ts
Due: eslint --fix

Update jest to v28
  package-lock.json
  package.json
Due: none

Update svelte to v3.48.0
  package-lock.json
  package.json
Due: none

Update @tiptap/* devDependencies
  package-lock.json
  package.json
Due: none

Update @types/prosemirror-* devDependencies
  package-lock.json
  package.json
Due: none

Update @sveltejs/kit to v1.0.0-next.325
  package-lock.json
  package.json
  tsconfig.json
Due: none

Support dynamic elements in NodeViewWrapper
  src/lib/NodeViewWrapper.svelte
  src/lib/NodeviewRenderer.ts
Due: eslint --fix

Require svelte v3.48.0 or above
  package-lock.json
  package.json
Due: none

Rename file NodeViewRenderer to SvelteNodeViewRenderer
  src/lib/SvelteNodeViewRenderer.ts
  src/lib/index.ts
Due: eslint --fix

Render span tag for inline elements (#7)
  src/lib/NodeviewRenderer.ts
Due: eslint --fix

Throw error if NodeViewWrapper is not used
  src/lib/SvelteNodeViewRenderer.ts
Due: eslint --fix

Support custom tag types for NodeViewRenderer
  src/lib/SvelteNodeViewRenderer.ts
Due: eslint --fix

Add node name to NodeViewRenderer classList
  src/lib/SvelteNodeViewRenderer.ts
  src/routes/_components/SvelteExtension.ts
Due: eslint --fix

Release svelte-tiptap v0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: none

Update svelte-kit to v1.0.0-next.345
  jest.config.js
  package-lock.json
  package.json
  src/app.html
  tests/tsconfig.json
Due: eslint --fix

Release svelte-tiptap v0.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Downgrade package target to ES2021
  tests/tsconfig.json
  tsconfig.json
Due: none

Release svelte-tiptap v0.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update link to repl/demo
  README.md
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Release svelte-tiptap v0.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
  vite.config.js
Due: eslint --fix

Update to cypress v10
  .github/workflows/tests.yml
  cypress.config.ts
  cypress/e2e/1-editor/1-core.spec.cy.ts
  cypress/e2e/1-editor/2-extension.spec.cy.ts
  cypress/e2e/1-editor/3-component.spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  e2e/cypress.json
  e2e/cypress/plugins/index.ts
  e2e/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Use eslint-plugin-svelte
  .eslintrc.yml
  cypress.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Update npm lint script
  package.json
Due: none

typo
  src/lib/context.ts
Due: eslint --fix

Fix typo in context name
  src/lib/context.ts
Due: eslint --fix

Use official action to publish to pages
  .github/workflows/pages.yml
Due: prettier --write

Restrict workflow permissions
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{md,yml}
