Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: none

Setup commitlint
  .commitlintrc.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

Update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

Release svelte-tiptap v0.4.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

Release svelte-tiptap v0.4.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update examples
  src/routes/components/Tiptap.svelte
Due: eslint --fix

Update demo site
  e2e/cypress.json
  e2e/cypress/integration/1-editor/2-extension.spec.ts
  e2e/cypress/integration/1-editor/3-component.spec.ts
  package-lock.json
  package.json
  postcss.config.cjs
  src/app.scss
  src/routes/__layout.svelte
  src/routes/bubble-menu.svelte
  src/routes/components/Counter.svelte
  src/routes/components/Editable.svelte
  src/routes/components/Tiptap.svelte
  src/routes/floating-menu.svelte
  src/routes/index.svelte
  tailwind.config.cjs
Due: eslint --fix

Fix formatting errors
  src/lib/BubbleMenu.svelte
  src/lib/EditorContent.svelte
  src/lib/FloatingMenu.svelte
  src/lib/NodeViewWrapper.svelte
  src/lib/actions.ts
  tests/components/Counter.svelte
Due: eslint --fix

Fix unmount error in menu components
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
Due: eslint --fix

Update tiptap peerDependencies
  package-lock.json
  package.json
Due: none

Release svelte-tiptap v0.4.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update nodeview context usage
  src/lib/NodeViewWrapper.svelte
  src/lib/NodeviewRenderer.ts
  src/lib/context.ts
Due: eslint --fix

Update package export order
  src/lib/index.ts
Due: eslint --fix

Fix demo site title
  src/routes/bubble-menu.svelte
Due: eslint --fix

Update svelte language tools
  package-lock.json
  package.json
Due: none

Deploy site to Github Pages
  .github/workflows/pages.yml
  package-lock.json
  package.json
  src/routes/_components/Counter.svelte
  src/routes/_components/Editable.svelte
  src/routes/_components/SvelteExtension.ts
  src/routes/index.svelte
  svelte.config.js
Due: eslint --fix, prettier --write

Update svelte vscode configuration
  .vscode/settings.json
Due: none

Update tsconfig.json
  tsconfig.json
Due: none

Fix navigation in demo site
  src/routes/__layout.svelte
Due: eslint --fix

Fix homepage navigation in demo site
  src/routes/__layout.svelte
Due: eslint --fix

Deploy site as SPA
  src/routes/__layout.svelte
  svelte.config.js
Due: eslint --fix

Create seperate tsconfig for tests
  tests/tsconfig.json
  tsconfig.json
Due: none

Remove unused assets
  static/index.html
Due: none

Fix routing in demo site
  src/app.html
  src/global.d.ts
  src/routes/__layout.svelte
  svelte.config.js
Due: eslint --fix

Update demo site styles
  src/routes/__layout.svelte
Due: eslint --fix

Remove targe option in svelte config
  src/app.html
  svelte.config.js
Due: eslint --fix

Cleanup plugin usage
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
Due: eslint --fix

Fix page title in demo app
  src/app.html
  src/routes/bubble-menu.svelte
  src/routes/floating-menu.svelte
Due: eslint --fix

Update Github actions to latest
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Remove broken badges in README
  README.md
Due: prettier --write

Update svelte setup
  .eslintrc.yml
  _config.yml
  e2e/cypress/plugins/index.ts
  package.json
  postcss.config.cjs
  scripts/version-check.cjs
  src/app.d.ts
  src/app.scss
  src/global.d.ts
  src/lib/Editor.ts
  src/lib/NodeViewWrapper.svelte
  src/lib/NodeviewRenderer.ts
  src/lib/SvelteRenderer.ts
  src/lib/actions.ts
  src/lib/context.ts
  src/lib/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{md,yml}
