Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove repl link from README
  README.md
Due: prettier --write

Update package pipeline (#17)
  package-lock.json
  package.json
  tsconfig.json
Due: none

Update to svelte 4
  .eslintrc.yml
  .gitignore
  .husky/pre-push
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  package-lock.json
  package.json
  src/app.d.ts
  static/robots.txt
  tests/setup.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Update SvelteNodeViewRender
  README.md
  src/lib/NodeViewContent.svelte
  src/lib/NodeViewWrapper.svelte
  src/lib/SvelteNodeViewRenderer.ts
  src/lib/actions.ts
  src/lib/index.ts
  src/routes/_components/Counter.svelte
  src/routes/_components/Editable.svelte
Due: eslint --fix, prettier --write

Update publish steps
  .github/workflows/npmpublish.yml
  package.json
Due: prettier --write

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

Cleanup button components
  src/routes/+page.svelte
  src/routes/bubble-menu/+page.svelte
  src/routes/floating-menu/+page.svelte
Due: eslint --fix

Add npm package provenance
  .github/workflows/npmpublish.yml
Due: prettier --write

Update actions/deploy-pages to v2
  .github/workflows/pages.yml
Due: prettier --write

Update publish step
  .github/workflows/npmpublish.yml
Due: prettier --write

Configure publint to run on pre-push
  .husky/pre-push
Due: none

Remove unused imports
  src/routes/bubble-menu/+page.svelte
Due: eslint --fix

Expose delay via the BubbleMenu (#22)
  src/lib/BubbleMenu.svelte
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

Release svelte-tiptap v1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Allow children inside EditorContent via slot
  src/lib/EditorContent.svelte
Due: eslint --fix

Release svelte-tiptap v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: none

Update svelte-kit to v1.22.2
  package-lock.json
  package.json
  tests/setup.ts
Due: eslint --fix

Update cypress to v12.17.1
  package-lock.json
  package.json
Due: none

Fix invalid option delay in BubbleMenu
  src/lib/BubbleMenu.svelte
Due: eslint --fix

Update SvelteComponent types
  src/lib/SvelteNodeViewRenderer.ts
Due: eslint --fix

Cleanup eslint errors
  cypress.config.ts
  src/lib/EditorContent.svelte
  src/routes/_components/Counter.svelte
  src/routes/floating-menu/+page.svelte
Due: eslint --fix

Cleanup vitest setup
  tests/setup.ts
  vite.config.ts
Due: eslint --fix

Convert type to interface
  src/lib/types.ts
Due: eslint --fix

Update eslint-config-pegasus to v5.0.0
  .eslintrc.yml
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: prettier --write

Regenerate package-lock.json
  package-lock.json
Due: none

Release svelte-tiptap v1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update README
  README.md
Due: prettier --write

Lint cjs files
  .lintstagedrc.yml
Due: prettier --write

Cleanup cjs files
  postcss.config.cjs
  tailwind.config.cjs
  tailwind.config.js
Due: eslint --fix

Covert tailwind config to typescript
  tailwind.config.ts
Due: eslint --fix

Update Editable Component example
  src/routes/_components/Editable.svelte
Due: eslint --fix

Update prettier to v3
  .vscode/extensions.json
  package-lock.json
  package.json
  src/app.html
  src/lib/SvelteNodeViewRenderer.ts
  tests/bubble-menu.test.ts
  tests/floating-menu.test.ts
Due: eslint --fix

Fix selected prop in nodeview with text selection
  src/lib/SvelteNodeViewRenderer.ts
Due: eslint --fix

Cleanup examples
  src/routes/_components/Editable.svelte
  src/routes/_components/SvelteExtension.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{md,yml}
