Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add files to publish
  package.json
Due: none

Release svelte-tiptap v0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Automate npm publish with actions
  .github/workflows/npmpublish.yml
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Release svelte-tiptap v0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add jekyll config
  _config.yml
Due: prettier --write

Update @types/node to v16.3.2
  package-lock.json
  package.json
Due: none

Format README
  README.md
  package-lock.json
  package.json
Due: prettier --write

Update lang code in svelte components
  lib/BubbleMenu.svelte
  lib/EditorContent.svelte
  lib/FloatingMenu.svelte
  lib/NodeViewWrapper.svelte
  src/Tiptap.svelte
  tests/components/BubbleMenu.svelte
  tests/components/FloatingMenu.svelte
Due: eslint --fix

Remove unwanted peer deps
  package-lock.json
  package.json
Due: none

Update tests
  lib/NodeViewWrapper.svelte
  lib/NodeviewRenderer.ts
  tests/extension.test.ts
Due: eslint --fix

Update rollup plugins
  package-lock.json
  package.json
Due: none

Update lint-staged config
  .lintstagedrc.yml
Due: prettier --write

Update tsconfig.json
  tsconfig.json
Due: none

Use default exports
  lib/NodeviewRenderer.ts
  lib/SvelteRenderer.ts
  lib/index.ts
Due: eslint --fix

Fix Contributing link in README
  README.md
Due: prettier --write

Update @rollup/plugin-node-resolve
  package-lock.json
  package.json
Due: none

Rename src directory to demo
  demo/App.svelte
  demo/Counter.svelte
  demo/Editable.svelte
  demo/SvelteExtension.ts
  demo/Tiptap.svelte
  demo/global.scss
  demo/index.ts
  snowpack.config.js
Due: eslint --fix

Update @types/node
  package-lock.json
  package.json
Due: none

Update npm commands
  .github/CONTRIBUTING.md
  package.json
Due: prettier --write

Add createEditor method
  README.md
  demo/Counter.svelte
  demo/Tiptap.svelte
  lib/NodeviewRenderer.ts
  lib/createEditor.ts
  lib/index.ts
  tests/components/Counter.svelte
Due: eslint --fix, prettier --write

Remove unused code
  lib/NodeviewRenderer.ts
Due: eslint --fix

Release svelte-tiptap v0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Remove unwanted code
  lib/NodeviewRenderer.ts
Due: eslint --fix

Update devDependencies
  package-lock.json
  package.json
Due: none

Update typescript compiler options
  lib/NodeviewRenderer.ts
  tsconfig.json
Due: eslint --fix

Cache with @actions/setup-node
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

Disable noImplicitOverride
  lib/NodeviewRenderer.ts
  tsconfig.json
Due: eslint --fix

Update devDependenices
  package-lock.json
  package.json
Due: none

Update tiptap dependencies
  lib/NodeviewRenderer.ts
  package-lock.json
  package.json
Due: eslint --fix

Use cjs for jest config
  jest.config.cjs
Due: none

Add scripts to check lockfile version
  .husky/pre-commit
  scripts/version-check.cjs
Due: none

Release svelte-tiptap v0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{md,yml}
