Repository sibiraj-s/svelte-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts,svelte}': eslint --fix
'*.{md,yml}': prettier --write

Update devDependencies
  .gitignore
  .npmrc
  jest.config.js
  package-lock.json
  package.json
  src/lib/NodeViewWrapper.svelte
  src/lib/types.ts
  tsconfig.json
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

Update svelte-kit to v1.0.0-next.480
  package-lock.json
  package.json
  src/app.d.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/bubble-menu/+page.svelte
  src/routes/bubble-menu/+page.ts
  src/routes/floating-menu/+page.svelte
  src/routes/floating-menu/+page.ts
  svelte.config.js
  vite.config.ts
Due: eslint --fix

Update vite.config.ts import type
  vite.config.ts
Due: eslint --fix

Pin pre-release devDependencies
  package-lock.json
  package.json
Due: none

Set page title for example pages
  src/routes/bubble-menu/+page.svelte
  src/routes/floating-menu/+page.svelte
Due: eslint --fix

Update tiptap dependencies
  package-lock.json
  package.json
Due: none

Regenerate package-lock.json
  package-lock.json
Due: none

Bump devDependencies
  package-lock.json
  package.json
Due: none

Use nodejs v18 in CI
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Update @types/node to v18
  package-lock.json
  package.json
Due: none

Update svelte-check to v2.10.2
  package-lock.json
  package.json
Due: none

Update svelte2tsx to v0.5.22
  package-lock.json
  package.json
Due: none

Update svelte-preprocess to v5
  package-lock.json
  package.json
Due: none

Update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Update svelte to v3.55.0
  package-lock.json
  package.json
Due: none

Update cypress to v12
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

Update to svelte kit v1 stable
  package-lock.json
  package.json
  src/app.d.ts
  svelte.config.js
Due: eslint --fix

Update @tiptap/* peerDependencies
  package-lock.json
  package.json
Due: none

Update prosemirror-* peerDependencies
  package-lock.json
  package.json
Due: none

Update svelte peerDependency to v3.55.0
  package-lock.json
  package.json
Due: none

Fix CI build and publish commands
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
Due: prettier --write

Migrate from jest to vitest
  .eslintrc.yml
  .github/CONTRIBUTING.md
  .vscode/settings.json
  cypress/e2e/1-editor/3-component.spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  jest.config.js
  package-lock.json
  package.json
  src/routes/_components/Counter.svelte
  tests/bubble-menu.test.ts
  tests/components/Counter.svelte
  tests/components/Editable.svelte
  tests/editor.test.ts
  tests/extension.test.ts
  tests/floating-menu.test.ts
  tests/setup.ts
  tests/tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Release svelte-tiptap v0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix tiptap devDependencies semver range
  package-lock.json
  package.json
Due: none

Update @sveltejs/kit to v1.0.1
  package-lock.json
  package.json
Due: none

Update @tiptap/* devDependencies
  package-lock.json
  package.json
Due: none

Update svelte-check to v3
  package-lock.json
  package.json
Due: none

Update svelte2tsx to v0.6.0
  package-lock.json
  package.json
Due: none

Update vite to v4.0.3
  package-lock.json
  package.json
Due: none

Remove workarounds in Bubble and Floating Menu
  src/lib/BubbleMenu.svelte
  src/lib/FloatingMenu.svelte
Due: eslint --fix

Update demo page layout
  src/routes/+layout.svelte
Due: eslint --fix

TS-Patch ext to .js in ./dist build
  package-lock.json
  package.json
  tsconfig.json
Due: none

Add publish to npm command
  package.json
Due: none

Version 0.7.1
  package-lock.json
  package.json
Due: none

Expose delay via the BubbleMenu
  src/lib/BubbleMenu.svelte
Due: eslint --fix

Update BubbleMenu.svelte
  src/lib/BubbleMenu.svelte
Due: eslint --fix
